.chat {
    flex: 2;
    border-left: 1px solid rgb(108, 57, 3);
    border-right: 1px solid rgb(108, 57, 3);
    height: 100%;
    display: flex;
    flex-direction: column;
    min-width: 0;

    .top {
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgb(108, 57, 3);


        .user {
            display: flex;
            align-items: center;
            gap: 20px;

            img {
                width: 60px;
                height: 60px;
                object-fit: cover;
            }

            .text {
                display: flex;
                flex-direction: column;
                gap: 5px;
              

                span {
                    font-size: 18px;
                    font-weight: 500;
                }

                p {
                    font-size: 14px;
                    font-weight: 300;
                    color:
                        rgb(214, 215, 215);
                }
            }
        }

    }

    .center {
        padding: 20px;
        flex: 1;
        overflow: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: large;
     


        .message {

            display: flex;
            gap: 20px;
          
           

            &.own {
                align-self: flex-end;


                .text {
                    p {
                        background-color: rgb(230, 186, 133);
                        padding: 5px;
                        max-width: 250px;
                        border-radius: 10px;
                     
                        overflow-wrap: anywhere;
                        word-break: break-word;
                        white-space: pre-wrap;
                        hyphens: auto;
                    }
                }

                span {
                    align-self: flex-end;
                }
                img{
                    height: 100%;
                    width: 300px;
                    border-radius: 10px;
                    object-fit: cover;
                }

            }

            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
            }

            .text {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 5px;

                p {
                    padding: 10px;
                    background-color: rgba(171, 96, 11, 0.29);
                    border-radius: 10px;
                    max-width: 250px;
                    overflow-wrap: anywhere;
                    word-break: break-word;
                    white-space: pre-wrap;
                    hyphens: auto;
                }

            }

        }






    }

    .bottom {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid rgb(108, 57, 3);
        gap: 10px;
        margin-top: 20px;


        .icons {
            display: flex;
            gap: 10px;
            font-size: large;

        }

        input {
            flex: 1;
            background-color: rgb(108, 57, 3);
            border: none;
            outline: none;
            color: white;
            border-radius: 10px;
            padding: 5px;
            font-size: 15px;
        }

        .emoji {
            position: relative;

            .picker {
                position: absolute;
                bottom: 50px;
                left: 0;

            }

        }

        .send-button {
            padding: 4px 15px;
            border: none;
            color: aliceblue;
            background-color: rgb(29, 71, 154);
            border-radius: 5px;
            font-size: small;
            cursor: pointer;

            &:disabled {
                background-color: rgb(108, 57, 3);
                cursor: not-allowed;
            }


        }
    }


}