.userInfo {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* pushes right section to the end */
    border-bottom: 1px solid var(--border-color);
    backdrop-filter: blur(10px);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    box-shadow: 0 0px 20px #667eea4d;
}

/* LEFT SIDE */
.left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.left img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.left h2 {
    font-size: medium;
    font-weight: 500;
}

/* LOGOUT BUTTON */
.logout {
    color: white;
    font-size: 22px;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    background-color: #1E3A8A;
    box-shadow: 0 4px 12px rgba(30, 58, 138, 0.4);
    transition: 0.2s ease;
}

.logout:hover {
    box-shadow: 0 6px 16px rgba(30, 58, 138, 0.5);
    transform: translateY(-1px);
}
