.detail{
flex: 1;


.user{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border-bottom:  1px solid rgb(108, 57, 3);
    font-size: smaller;

    img{
        width:70px;
        height: 70px;
        object-fit: cover;
        border-radius: 50%;
    }
   }
   .info{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .options{
        .title{
            display: flex;
            align-items: center;
            justify-content: space-between;
            
        }
        .photos{
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: 20px;

            .photoItem{
                display: flex;
                align-items: center;
                justify-content: space-between;

                .photoDetail{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 20px;
                    img{ 
                    width: 40px;
                    height: 40px;
                    border-radius: 5px;
                    object-fit: cover;}
                    span{
                        font-size: 14px;
                        color: lightgray;
                        font-weight: 500;
                    }
                }
            }
        }
    }
    button
    {
        padding:  10px 20px;
        background-color: brown;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &.logout{
            padding: 10px;
            background-color: blue;
        }
       
       
    }
   }

}