.addUser{
    width: max-content;
    height: max-content;
    padding: 20px;
    background-color: rgba(13, 13, 13, 0.559);
    border-radius: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    form{
        display: flex;
        gap: 10px;
        input{
            padding: 10px;
            border-radius: 10px;
            background-color: white;
            color: black;
            border: none;
            outline: none;
        }
        button{
            padding: 10px;
            border-radius: 10px;
          color: white;
          background-color: rgb(240, 146, 6);
          cursor: pointer;
          border: none;
        }
    }
    .user{
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .detail{
            display: flex;
            align-items: center;
            gap: 10px;
            img{
                width: 50px;        
                height: 50px;
                border-radius: 50%;
                object-fit: cover;

            }
        
        }
        button{
            padding: 5px;
            font-size:medium;
            border-radius: 10px;
          color: white;
          background-color: rgb(240, 146, 6);
          cursor: pointer;
          border: none;
        }


    }

}